
params {
    
    outdir = "/data/bnf/dev/sima/rnaSeq_fus/results"
    reads = "/data/NextSeq1/190808_NB501697_0150_AHN7T7AFXY/Data/Intensities/BaseCalls/ALL354A185_122-59112_S5_R{1,2}_001.fastq.gz"
    
    genome_fasta = "/data/bnf/dev/sima/rnaSeq_fus/data/hg_files/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa" //fasta file from ensembl
    genome_gtf = "/data/bnf/dev/sima/rnaSeq_fus/data/hg_files/gtf/Homo_sapiens.GRCh38.98.gtf" //fasta file from ensembl

    ref_genome_dir = "/data/bnf/dev/sima/rnaSeq_fus/results/star_refGenome_index/star_ref_index" 

    /* fastqscreen genome config file */
    genome_conf = "/data/bnf/dev/sima/rnaSeq_fus/data/fastqScreen/FastQ_Screen_Genomes/fastq_screen.conf"

    fusionCatcher_ref= "/data/bnf/dev/sima/rnaSeq_fus/data/fusioncatcher/human_v95"
    star_fusion_ref = "/data/bnf/dev/sima/rnaSeq_fus/data/starFusion/ctat_genome_lib_build_dir"


    // Quantificatin files
    ref_salmon = "/data/bnf/dev/sima/rnaSeq_fus/data/salmon/gentrome.fa" //has to be transcriptome

    //Provider  files
    ref_bed = "/data/bnf/sw/provider/HPA_1000G_final_38.bed"
    ref_bedXy= "/data/bnf/sw/provider/xy_38.bed"

    //BodyCov
    ref_rseqc_bed = "/data/bnf/dev/sima/rnaSeq_fus/data/RseQC/Homo_sapiens.GRCh38.79.bed"
    geneCov = "/data/bnf/dev/sima/rnaSeq_fus/test.geneBodyCoverage.txt"


    /* Set running tool flags */
    /* QC tools */
    qc = false
    star_inedx = false
    star = true
    fastqscreen = false
    fastqscreen_genomes = true //This flag shows that if config file for fastqscreen already exists or not. 
    qualimap = false
    bodyCov = false
    provider =false
    combine = true
    /* Fusion identification tools */
    fusion = false
    star_fusion = true
    fusioncatcher = false
    jaffa = false

    /* Reads quantification tool */
    quant = false

    /* Other flags */
    singleEnd= false

}
