singularity{
  enabled = true
  runOptions = '--bind /fs1/  --bind /local/'
}
 // --bind /local/scratch/

params {
  git="$baseDir/git.hash"
  container='/fs1/resources/containers/rnaseqfus_active.sif'  
  refbase = "/fs1/resources/ref/hg38/data"
  outdir = "/fs1/results/"
  subdir = "rnaseq_fusion"
  tmp_dir = "/local/scratch/"
  crondir = "/fs1/results/cron/"
  
  genome_fasta = "${refbase}/hg_files/Homo_sapiens.GRCh38.dna.primary_assembly.fa" //fasta file from ensembl
  genome_gtf = "${refbase}/hg_files/gtf/Homo_sapiens.GRCh38.98.gtf" //fasta file from ensembl
  ref_salmon = "${refbase}/transcriptome_ref/Homo_sapiens.GRCh38.cdna.all.fa"
  
  // fastqscreen genome config file 
  genome_conf = "${refbase}/fastqScreen/FastQ_Screen_Genomes/fastq_screen.conf"

  //star_fusion_ref = "${refbase}/starFusion/ctat_genome_lib_build_dir/"
  star_fusion_ref = "${refbase}/starFusion/GRCh38_gencode_v32_CTAT_lib_Dec062019.plug-n-play/ctat_genome_lib_build_dir/" 
  fusionCatcher_ref= "${refbase}/fusioncatcher/human_v98/"

  //Provider files
  ref_bed = "${refbase}/provider/HPA_1000G_final_38.bed"
  ref_bedXy= "${refbase}/provider/xy_38.bed"

  //JAFFA
  jaffa_base="${refbase}/hg_files/hg38/"
  jaffa_file = "/opt/conda/envs/CMD-RNASEQFUS/share/jaffa-1.09-2/JAFFA_direct.groovy"  
  //BodyCov
  ref_rseqc_bed = "${refbase}/RseQC/Homo_sapiens.GRCh38.79.bed"

  ref_genome_dir = "${refbase}/star_refGenome_index/star_ref_index/" 
  salmon_index_dir = "${refbase}/transcriptome_ref/salmon_index/"

  hem_classifier_salmon  = "${refbase}/fusion_classifier/hem_classifier.salmon.20190510.RData"
  ensembl_annotation = "${refbase}/fusion_classifier/ensembl_annotation.RData"
  reference_expression_all = "${refbase}/extract_expr_ref/reference_expression.all.tsv"
  genesOfIntrest = "${refbase}/extract_expr_ref/genes_of_interest.tsv"

  // Set running tool flags 
  // QC tools
  subsampling=true
  qc = true
  star = true
  fastqscreen = false
  qualimap = false
  bodyCov = false
  provider = false
  combine = true

  // Fusion identification tools 
  fusion = true
  star_fusion = false
  fusioncatcher = true
  jaffa = false

  // Reads quantification tool 
  quant = true

  //Other flags 
  singleEnd= false
  coyote = true

  // ref preprocessing flags
  fastqscreen_getgenome = false
  star_inedx = false
  salmon_index = false
  create_exprRef = false //solid samples have to be excluded from  creating ref 
  
}

process {
  withName:star_fusion { container = "/fs1/resources/containers/star-fusion.v1.8.1.simg" }
  executor='slurm'
  queue='highest'
  time=96.h
  
    }



